<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>


  <div class="container ms-5 mt-5" >

    <div class="row n1 border border-5 border-primary mt-3 pb-3 overflow-hidden" style="width: 550px; background-color: aqua;">
      <div class="col-12">
        <h1 class="fw-bold text-success">Directiva *ngFor con array</h1>
      </div>

      <app-crear-persona (personaAcrear)="crearPersona($event)"></app-crear-persona>

      <div class="col-12" *ngFor="let persona of arrayPersonas; let i = index">
        <app-persona [persona]="persona" [indice]="i"></app-persona>
      </div>
    </div>

  </div>
</body>
</html>
